:root {
    /* Secondary Colors */
    --meton-secondary-50: rgb(255 237 198);
    --meton-secondary-100: rgb(255 224 158);
    --meton-secondary-200: rgb(250 207 116);
    --meton-secondary-300: rgb(244 190 76);
    --meton-secondary-400: rgb(235 171 36);
    --meton-secondary-500: rgb(221 150 0);
    --meton-secondary-600: rgb(202 132 0);
    --meton-secondary-700: rgb(175 107 0);
    --meton-secondary-800: rgb(144 80 0);
    --meton-secondary-900: rgb(111 52 0);
    
    /* Tertiary Colors */
    --meton-tertiary-50: rgb(251 251 251);
    --meton-tertiary-100: rgb(246 246 246);
    --meton-tertiary-200: rgb(242 242 242);
    --meton-tertiary-300: rgb(237 237 237);
    --meton-tertiary-400: rgb(230 230 231);
    --meton-tertiary-500: rgb(217 217 219);
    --meton-tertiary-600: rgb(198 199 199);
    --meton-tertiary-700: rgb(189 189 189);
    --meton-tertiary-800: rgb(177 177 177);
    --meton-tertiary-900: rgb(165 164 164);
  }